<footer>
    <p id="telandmail"><span class="middle"><a href="tel:{{ site.phone }}" class="left">{{ site.phone }}</a>|<a href="mailto:{{ site.email }}" class="right">{{ site.email }}</a></span></p>
    <p>{% include social.html %}</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.3/es6-shim.min.js" integrity="sha256-THlgZSjqt7idNSdnUvGypTuXB5C4hV9kSuPYrbiq19o=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js" integrity="sha256-ffw+9zwShMev88XNrDgS0hLIuJkDfXhgyLogod77mn8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js" integrity="sha256-9p9wUORIjnIRp9PAyZGxql6KgJRNiH04y+8V4JjUhn0=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.5/isotope.pkgd.min.js" integrity="sha256-KsHewupnZlPcM8HccYY2Q0NXs1L9B9a/l1DGklAZGrw=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js" integrity="sha256-issEYoOUmTZW2tEfIwKfxq0Tz5DPqh9d+JFQsnJ2hKk=" crossorigin="anonymous"></script>
<script>AOS.init();</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.8.1/parsley.min.js" integrity="sha256-XqEmjxbIPXDk11mQpk9cpZxYT+8mRyVIkko8mQzX3y8=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/parsleyjs@2.8.1/dist/i18n/de.js"></script>
<script src="https://cdn.jsdelivr.net/npm/parsleyjs@2.8.1/dist/i18n/nl.js"></script>
<script src="{{ "/assets/js/smoothscroll.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/util.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/catalog.js" | absolute_url  }}"></script>
<script src="{{ "/assets/js/main.js" | absolute_url  }}"></script>

